*.out
part*
.vscode/**
*.exe
build/**
src/__generated__/**
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/**
output.*

doc/Dokumentation.aux
doc/Dokumentation.bcf
doc/Dokumentation.idx
doc/Dokumentation.lof
doc/Dokumentation.log
doc/Dokumentation.lot
doc/Dokumentation.out
doc/Dokumentation.run.xml
doc/Dokumentation.synctex.gz
doc/Dokumentation.toc